body{
	
  font-family: 'Lato', sans-serif;
  text-align: center;
  
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Lato';
  text-align: center;
}
* {
    scroll-behavior: smooth;
}
#objetivos,
#principal,
#trabajos,
#acercaDeMi,
#contacto{ padding-top: 100px; 
}
.logo:visited{
	color:white;
}

	
a:link{
		text-decoration: none;
}
a:visited{
		text-decoration: none;
}
a:hover{

	text-decoration: none;
	color: #18bc9c;
}

.icono{
		height: 50px;
}

    
		


/*NAV BAR*/


.navbar{
		 height: 100px;
		 background-color: #2c3e50;
}

.botonera{
			color: white;
			float: right;
			font-family:Lato;
			font-size: 20px;
			font-weight: 700;
}

@media (max-width: 768px) { .botonera 
{color: black;font-weight: 700;}
a.botonera:hover{background-color: white;}


}




			 
			 

			

.logo{
		color: white;
		font-size: 25px;
		font-weight: 700;




}

		
.imgCelular{
			color:  #2c3e50;
			width: 60px;
}
.titulos{
		padding-top:83px;
}
		
/*SECCION 1- FOTO DE PERFL*/
.principal{
			
			text-align: center;
			width: 100%;
			background-color:#18bc9c;
			margin-bottom: -10px;
			padding-bottom: 50px;
			color: white;
}
.fotoPerfil{
			margin-top: 100px;

}
/* SECCION 2 ACERCA DE MI*/
.acercaDeMi{
			text-align: center;
			width: 100%;
			background-color: #6E6E6E;
			color: white;
			font-size: 25px;			
}
.jumbotron {
	-moz-box-shadow: 0px 0px 0px 2px #ffffff;
	-webkit-box-shadow: 0px 0px 0px 2px #ffffff;
	box-shadow: 0px 0px 0px 2px #ffffff;
	background-color:transparent;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:18px 37px;
	text-decoration:none;
}
.jumbotron:hover {
	background-color:white;
	color:#2c3e50;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.jumbotron:active {
	 
}

/*SECCION 3 TRABAJOS*/
.trabajos{
			width: 100%;
			background-color: white;
			color:#2c3e50;
			text-align: center;
}


/*SECCION 4 OBJETIVOS*/


/*SECCION 5 INGLES*/
.preguntas{
			
			background-color: skyblue;
}
.questions{
			font-size: 30px;
			color: 
}
.answers{
		font-size: 17px;
}
/*SECCION 6 CONTACTO*/
		.contacto {
			flex-direction: column;
			align-items: center;

					
		}
		.header {
    color:#2c3e50 ;
    font-size: 40px;
    padding: 10px;
}
	.bigicon {
	    font-size: 35px;
	    color:white;
	    width: 100%
}
.nombre,
.apellido,
.email,
.contacto,
.telefono{
	height: 50px;
}
.well,.well-sm{
	background-color: white;
}
.telefono::placeholder { color:  #2c3e50; font-weight: bold; font-family:Calibri; }
.nombre::placeholder { color:  #2c3e50; font-weight: bold; }
.contacto::placeholder { color:  #2c3e50; font-weight: bold; }
.apellido::placeholder { color:  #2c3e50; font-weight: bold; }
.email::placeholder { color:  #2c3e50; font-weight: bold; }
.mensaje::placeholder { color:  #2c3e50; font-weight: bold; }

.enviar{
		background-color: #18bc9c;
		color: white;
		padding:18px 37px;
		border-color: #18bc9c;
		font-size: 20px;
		font-weight:bold;
}
.enviar:hover {
	background-color:#088A68;
	border-color: #088A68;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}

	
	



	



			
			
		
			



		

	